asgiref==3.4.1
autopep8==1.6.0
backports.entry-points-selectable==1.1.0
distlib==0.3.3
Django==3.2.9
docopt==0.6.2
filelock==3.3.0
graphviz==0.19.1
inflect==6.0.2
mysql-client==0.0.1
opencv-python==4.5.5.64
platformdirs==2.4.0
pycodestyle==2.8.0
pydantic==1.10.2
PyMySQL==1.0.2
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.4.0
virtualenv==20.8.1
